#home{
    display: flex;
    gap: 4rem;
}
#home > img{
    width: 50%;
}
#home > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home > div > h1{
    margin-bottom: 1rem;
}
#home > div > p{
    margin-bottom: 2rem;
}
#home > div > div > button{
    margin-right: 2.5rem;
}
@media (max-width:950px) {
    #home > img{
        display: none;
    }
}