#contato{
    background-image: url(../imagens/backgorund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
}
#formulario{
    background-color: var(--invisibol);
    backdrop-filter: blur(1.5rem);
    border-radius: 4px;
    padding: 2rem;
    max-width: 400px;
}
#formulario h3, h5{
    margin-bottom: 1rem;
    color: #ffffff;
}
#formulario button{
    color: #ffffff;
}
form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    background: none;
    font-size: 14px;
    font-weight: 300;
    color: #c4c4c4;
    padding: .3rem 1rem;
    outline: none;
    border-radius: 4px;
    border: 2px solid #353535;
    margin-bottom: 1rem;
}
textarea::placeholder{
    color: #c4c4c4;
}

input::placeholder{
    color: #c4c4c4;
}
textarea:focus{
    border: 2px solid var(--color);
}
input:focus{
    border: 2px solid var(--color);
}
textarea{
    height: 4rem;
    max-width: 100%;
}