#home{
    background-color: var(--principal);
    background-image: url(../svgs/aspiral.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    display: flex;
    align-items: center;
}
#apresentacao{
    width: 100%;

}

@media screen and (max-width:480px) {
    #apresentacao h1{
        font-size: 3rem;
        line-height: 4rem;
    }
    #home{
        background-size: 500px;
    }
    .redes_socias{
        display: none;
    }
}
@media screen and (max-width: 920px) {
    #home{
        background-position:right bottom 20vh ;
    }
    
}
.btn-one{
    padding: .5rem 1.7rem;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source:var(--gradient);
    border-radius: 4px;
    display: inline-flex;
    align-items: center; 
}
.btn-one:hover{
    background-image: var(--gradient);
    color: var(--principal);
    transition: .3s;
}
.btn-one:hover svg{
    color: var(--principal);
    transition: .3s;
}
.btn-one svg{
    margin-right: 1rem;
}

