body.light #projetos{
    background-image: url(../svgs/vetor.light.svg);
}
#projetos{
    background-image: url(../svgs/vetor.svg);
    background-repeat: no-repeat;
    background-position: left top;
}
#container_projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projeto{
    width: calc(100%/2 - 20px);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.projeto img{
    object-fit: cover;
    border-left: 4px solid var(--color);
    border-radius: 4px;
}
.projeto li{
    padding: .1rem .5rem;
    border-radius: 20px;
    background-color: var(--color-blur);
    color: var(--principal);
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
}
.projeto ul{
    display: flex;
    gap: 1rem;
}
.projeto div{
    width: 100%;
    flex-grow: 1;
    border-left: 4px solid var(--color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--principal);
}
@media screen and (max-width:720px) {
    .projeto{
        width: 100%;
    }
    .projeto img{
        object-fit: fill;
    }
}