#container_servicos{
    display: flex;
    margin-top: 1.5rem;

}
#container_servicos nav{
    margin-right: 5rem;
    box-sizing: content-box;
}
.tab{
    width: 200px;
    padding: 15px 30px;
    border-left: 2px solid var(--secund-principal);
}
.active{
    border-left: 2px solid var(--color);
    background-color: var(--secund-principal);
}
