#fixed_bot{
    position: fixed;
    bottom: 0;
    display: none;
    width: 100%;
    z-index: 2;
}
#sidebar > nav > ul{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid var(--secund-principal);
}
@media screen and (max-width:480px) {
    #fixed_bot{
        display: block;
        background-color: var(--blur); 
        backdrop-filter: blur(1.5rem);
    }
}
footer{
    padding: 30px 0;
    box-sizing: content-box;
}
footer div{
    display: flex;
    justify-content: space-between;
}
footer div p{
    display: flex;
    align-items: center;
}
footer svg{
    padding-left: .5rem;
    box-sizing: content-box;
}
@media screen and (max-width:480px) {
    footer{
        margin-bottom: 10vh;
    }
}