#fixed_bot{
    position: fixed;
    bottom: 0;
    display: none;
    width: 100%;
}
#sidebar > nav > ul{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid var(--secund-principal);
}
a > svg{
    width: 30px;
    height: 30px;
    color: var(--oposto);
}
@media screen and (max-width:480px) {
    #fixed_bot{
        display: block;
        background-color: var(--principal); 
    }
}