#sobre_mim_container{
    display: flex;
}
#sobre_mim_img{
    width: 100%;
    max-height: 367px;
    object-fit: cover;
    margin-right: 5rem;
    border-left: 4px solid var(--color);
    border-radius: 4px;
}
#sobre_mim_description2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sobre_mim_description2 div{
    display: flex;
    justify-content: space-between;
    max-width: 350px;
}

#sobre_mim_description2 ul{
    display: flex;
    gap: 2rem;
}
#sobre_mim_description2 h2{
    margin-bottom: 1rem;
}
#sobre_mim_description2 li>a{
    border-radius: 10px;
    padding: .3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#sobre_mim_description2 li > a:hover{
    display: flex;
    background-color: var(--contraste);
}
body.light #sobre_mim{
    background-image: url(../svgs/vetor.light.svg);
}
#sobre_mim{
    background-image: url(../svgs/vetor.svg) ;
    background-position: right bottom;
    background-repeat: no-repeat;
}
@media screen and (max-width: 920px) {
    #sobre_mim_container{
        flex-direction: column;
    }
    #sobre_mim_img{
        width: auto;
        margin: auto;
        
    }
    #sobre_mim_description2{
        gap: 2rem;
        padding-top: 2rem;
    }
}
@media screen and (max-width:480px) {
    #sobre_mim_img{
        width: 100%;
    }
    
    #sobre_mim_description2 .btn-two {
        display: none;
    }
}